@import 'tailwindcss';

@import './ui-components.css' layer(utilities);
@import './side-navigation.css' layer(utilities);

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 864px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;

  --spacing-nav-height: var(--nav-height);
  --spacing-nav-height-no-border: var(--nav-height-no-border);
  --spacing-nav-border-bottom-width: var(--nav-border-bottom-width);
  --spacing-content-width: var(--content-width);
  --spacing-note-width: var(--note-width);
  --spacing-aside-width: var(--aside-width);
  --spacing-content-gap: var(--content-gap);
  --spacing-content-padding: var(--content-padding);
  --spacing-content-height: var(--content-height);

  --color-primary-bg: rgba(var(--primary-bg));
  --color-primary-fg: rgba(var(--primary-fg));

  --color-secondary-bg: rgba(var(--secondary-bg));
  --color-secondary-fg: rgba(var(--secondary-fg));

  --color-border: rgba(var(--border));

  --color-gray-1: rgba(var(--gray-1));
  --color-gray-2: rgba(var(--gray-2));
  --color-gray-3: rgba(var(--gray-3));
  --color-gray-4: rgba(var(--gray-4));
  --color-gray-5: rgba(var(--gray-5));
  --color-gray-6: rgba(var(--gray-6));
  --color-gray-7: rgba(var(--gray-7));
  --color-gray-8: rgba(var(--gray-8));
  --color-gray-9: rgba(var(--gray-9));
  --color-gray-10: rgba(var(--gray-10));
  --color-gray-11: rgba(var(--gray-11));
  --color-gray-12: rgba(var(--gray-12));
  --color-gray-contrast: rgba(var(--gray-contrast));

  --color-accent-1: rgba(var(--accent-1));
  --color-accent-2: rgba(var(--accent-2));
  --color-accent-3: rgba(var(--accent-3));
  --color-accent-4: rgba(var(--accent-4));
  --color-accent-5: rgba(var(--accent-5));
  --color-accent-6: rgba(var(--accent-6));
  --color-accent-7: rgba(var(--accent-7));
  --color-accent-8: rgba(var(--accent-8));
  --color-accent-9: rgba(var(--accent-9));
  --color-accent-10: rgba(var(--accent-10));
  --color-accent-11: rgba(var(--accent-11));
  --color-accent-12: rgba(var(--accent-12));
  --color-accent-contrast: rgba(var(--accent-contrast));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  @layer base {
    :root {
      --gray-1: 252 252 252;
      --gray-2: 249 249 249;
      --gray-3: 240 240 240;
      --gray-4: 232 232 232;
      --gray-5: 224 224 224;
      --gray-6: 217 217 217;
      --gray-7: 206 206 206;
      --gray-8: 187 187 187;
      --gray-9: 141 141 141;
      --gray-10: 131 131 131;
      --gray-11: 100 100 100;
      --gray-12: 32 32 32;

      --primary-bg: var(--gray-2);
      --secondary-bg: var(--gray-3);
      --primary-fg: var(--gray-12);
      --secondary-fg: var(--gray-11);

      --border: var(--gray-5);

      --accent-1: 250 254 253;
      --accent-2: 243 251 249;
      --accent-3: 224 248 243;
      --accent-4: 204 243 234;
      --accent-5: 184 234 224;
      --accent-6: 161 222 210;
      --accent-7: 131 205 193;
      --accent-8: 83 185 171;
      --accent-9: 18 165 148;
      --accent-10: 13 155 138;
      --accent-11: 0 133 115;
      --accent-12: 13 61 56;
      --accent-contrast: 255 255 255;

      --radius: 0.5rem;
      --content-width: 1386px;
      --nav-height: 56px;

      --nav-height-no-border: 56px;
      --nav-border-bottom-width: 2px;
      --nav-height: 58px;
      --content-height: calc(100vh - var(--nav-height-no-border));

      --min-sm: 640px;
      --min-md: 864px;
      --min-lg: 1200px;
      --min-xl: 1440px;

      --max-sm: 639px;
      --max-md: 863px;
      --max-lg: 1199px;
      --max-xl: 1439px;

      --scroll-padding-normal: 73px;
      --scroll-padding-extended: 132px;

      --scroll-padding-top: var(--scroll-padding-normal);
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      background-color: rgb(var(--primary-bg));
      color: rgb(var(--primary-fg));
      max-width: 100vw;
      overflow-x: hidden;
    }

    * {
      border-color: rgb(var(--border));
    }

    ::selection {
      background-color: rgb(var(--accent-5));
    }

    *:focus-visible {
      outline: 2px solid rgba(var(--accent-11) / 0.5);
    }
  }
}
